$navbar-height: 80px;
$max-width: 1440px;

$width-sm: 640px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1280px;
$width-2xl: 1536px;

//------------------light------------------
$primary-color: #6750a4;
$on-primary-color: #ffffff;
$secondary-color: #625b71;
$on-secondary-color: #ffffff;
$tertiary-color: #7d5260;
$on-tertiary-color: #ffffff;
$error-color: #b3261e;
$on-error-color: #ffffff;

$primary-container-color: #eaddff;
$on-primary-container-color: #21005d;
$secondary-container-color: #e8def8;
$on-secondary-container-color: #1d192b;
$tertiary-container-color: #ffd8e4;
$on-tertiary-container-color: #31111d;
$error-container-color: #f9dedc;
$on-error-container-color: #410e0b;

$background-color: #fffbfe;
$on-background-color: #e6e1e5;
$outline-color: #79747e;
$surface-color: #fffbfe;
$on-surface-color: #1c1b1f;
$surface-variant-color: #e7e0ec;
$on-surface-variant-color: #49454f;

//------------------dark------------------
$primary-color-dark: #d0bcff;
$on-primary-color-dark: #381e72;
$secondary-color-dark: #ccc2dc;
$on-secondary-color-dark: #332d41;
$tertiary-color-dark: #efb8c8;
$on-tertiary-color-dark: #492532;
$error-color-dark: #f2b8b5;
$on-error-color-dark: #601410;

$primary-container-color-dark: #4f378b;
$on-primary-container-color-dark: #eaddff;
$secondary-container-color-dark: #4a4458;
$on-secondary-container-color-dark: #e8def8;
$tertiary-container-color-dark: #633b48;
$on-tertiary-container-color-dark: #ffd8e4;
$error-container-color-dark: #8c1d18;
$on-error-container-color-dark: #f9dedc;

$background-color-dark: #1c1b1f;
$on-background-color-dark: #e6e1e5;
$outline-color-dark: #938f99;
$surface-color-dark: #1c1b1f;
$on-surface-color-dark: #e6e1e5;
$surface-variant-color-dark: #49454f;
$on-surface-variant-color-dark: #cac4d0;

// Path: styles\theme\theme.css
